{% extends 'base.html' %}

{% block title %}
    Смена логина
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adaptive.css') }}">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h3 class="text" style="font-size: 45px">Смена пароля</h3>
            <form method="POST">
                <div class="form-floating">
                    <input type="login" class="form-control" id="login" , name="login" placeholder="login"
                           style="width: 400px">
                    <label for="floatingPassword">Текущий логин</label>
                </div>
            <br>
                <div class="form-floating">
                    <input type="password" class="form-control" id="login" , name="password_old" placeholder="login"
                           style="width: 400px">
                    <label for="floatingPassword">Новый пароль</label>
                </div>
                <br>
                <div class="form-floating">
                    <input type="password" class="form-control" id="login" , name="password_new" placeholder="login"
                           style="width: 400px">
                    <label for="floatingPassword">Повторите пароль</label>
                </div>
                <br>
                <div class="text-left">
                    <button type="submit" class="btn btn-lg btn-warning center-block" type="submit" value="Login"
                            style="width:400px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Подтвердить
                    </button>
                </div>
                {% with message = get_flashed_messages() %}
                    {% if message %}
                        <div class="toast show text-bg-success border-0 text-center" role="alert" aria-live="assertive"
                             aria-atomic="true" style="margin-right: 55%; margin-top: 20px">
                            <div class="toast-body" style="margin-right: 3%">
                                {{ message[0] }}
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
{% endblock %}